.days-list {
  margin: 5px 0.5px;
  width: 19.5%;
  background-color: rgb(224, 225, 229, 0.3);
  padding: 16px 10px;
  border-radius: 35%;
  text-align: center;
}
.weather-details {
  line-height: 2;
}
.weather-details,
.city-list {
  list-style-type: none;
}
.cities {
  display: inline;
}
.city-list {
  margin: 0;
}

.search-row {
  margin-top: 10px;
}
.main {
  margin-top: 20px;
}
.weather-app {
  border: 1px solid #dadde1;
  padding: 30px;
  margin: 40px auto;
  max-width: 630px;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}
.main-city {
  margin-top: 15px;
  font-size: 45px;
}
.weather-icon {
  font-size: 40px;
}

.weather-description {
  font-size: 26px;
  display: block;
  text-align: right;
  line-height: 2;
}
.weather-description:first-letter {
  text-transform: uppercase;
}
.hash {
  display: flex;
  justify-content: space-between;
}

.li-details {
  margin: 6px auto;
}
.units {
  position: relative;
  top: -32px;
  text-decoration: none;
}
.temperature {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
}

#current-time {
  font-weight: bold;
  font-size: 20px;
}
#bottom-link {
  display: block;
  font-family: "Roboto", sans-serif;
}
.weather-forecast-temperature-min {
  color: rgb(72, 72, 74, 0.6);
}
.units .active {
  color: black;
  cursor: default;
}
.units .active:hover {
  text-decoration: none;
}
a:link {
  text-decoration: none;
}
.days-list:hover {
  background-color: rgb(224, 225, 229);
  transition: ease-in-out 200ms;
}
